REACT_APP_FIREBASE_API_KEY=AIzaSyDFvfQ_JQdAQjyRXxxoABeNzELeF9WfFhw
REACT_APP_FIREBASE_AUTH_DOMAIN=abilitybid.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=abilitybid
REACT_APP_FIREBASE_APP_ID=1:89838640451:web:98678adbcb33d24d2963f6
REACT_APP_FIREBASE_MEASUREMENT_ID=G-LZFE4QK30Z

REACT_APP_FIREBASE_STORAGE_BUCKET=abilitybid.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=89838640451